var config = {};
config.proxy_port = 9998;
config.asset_directory_host = 'dev.server.organicity.eu';
config.asset_directory_port = '8000'; // 1026
config.asset_directory_protocol = 'http'; // https

config.client_id = '';
config.client_secret = '';

module.exports = config;
