var config = {};
config.proxy_port = 9998;
config.asset_directory_host = 'dev.orion.organicity.eu';
config.asset_directory_port = '443';
config.asset_directory_protocol = 'https';

config.client_id = '';
config.client_secret = '';

module.exports = config;
